<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <a href="#main" class="logo-header">
        <!-- <img class="logo" src="./images/logo-black-mobile.svg" /> -->
        <p class="logo-title">
          Hell<span class="logo-icon-wrapper"
            ><svg class="logo-icon">
              <use href="./images/sprite.svg#icon-fire"></use></svg></span
          >EN
        </p>
        <p class="logo-description">адский английский</p>
      </a>
      <div class="header-menu-container" id="menu-container" data-menu>
        <a href="#" class="logo-menu">
          <img class="logo" src="./images/logo-white-mobile.svg" />
        </a>
        <ul class="header-nav-list">
          <li class="header-nav-list-item">
            <a href="#our-programm" class="header-nav-link"
              >Программа обучения</a
            >
          </li>
          <li class="header-nav-list-item">
            <a href="#about" class="header-nav-link">О нас</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#education" class="header-nav-link">Варианты обучения</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#contacts" class="header-nav-link">Контакты</a>
          </li>
        </ul>
        <a href="tel:+38 (000) 000 00 00" class="header-consult-link"
          >КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ</a
        >
      </div>

      <div class="header-menu-button-wrapper">
        <a href="tel:+38 (000) 000 00 00" class="header-consult-link"
          >КОНСУЛЬТАЦИЯ ПО ТЕЛЕФОНУ</a
        >

        <button
          type="button"
          class="menu-button"
          aria-label="Меню"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg
            width="20px"
            height="20px"
            aria-label="Переключатель мобильного меню"
          >
            <use class="icon-menu" href="./images/sprite.svg#icon-burger"></use>
            <use
              class="icon-cross"
              href="./images/sprite.svg#icon-burger-close"
            ></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
